@import "../../global.scss";

li{
    font-size: 20px;
    margin-right: 30px;
    align-items: center;
    padding: 10px;
    border-radius: 30px;
    cursor: pointer;

    

    &.active{
        background-color: $mainColor;
        color: white;
    }

}