// @import "../../global.scss";

.footer {
    background: linear-gradient(90deg, rgb(207, 101, 207) 0%,  rgb(138, 223, 191)100%);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10px;

    .icon{
        font-size: 30px;
        text-decoration: none;
        color: white;
    }

ul {
    list-style: none;
    list-style-type: none;
    font-size: 20px;

    li{
        display: inline-block;

     a{
        font-size: inherit;
        color: inherit;
        text-decoration: none;
    }
    &:hover{
        color: #ffd3ba;
    }
 }
 }
}